* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: bold 14px Arial, sans-serif;
}

.Calculator {
  width: 340px;
  height: auto;
  margin: 100px auto;
  padding: 20px 20px 9px ;

  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #8bceec);
  border-radius: 3px;
}

  .cal .erase {
    float: left;
  }
  .cal .ansscreen {
    height: 40px;
    width: 220px;
    float: right;
    padding: 0px 10px;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    font-size: 17px;
    line-height: 40px;
    color : white;
    text-align: right;
    letter-spacing: 1px;
  }
  .calTable, .cal {
    overflow: hidden;
  }

  .calTable .num, .calTable .operator, .calTable .answer, .cal .erase{
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;

    background: white;
    border-radius: 3px;
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    user-select: none;
  }

  .calTable .operator {
    background: #FFF0F5;
    margin-right: 0;
  }
  .calTable .answer{
    background: #f1ff92;
    color: #888e5f;
  }
  .cal .erase {
    background: #ff9fa8;
    color: white;

  }
