<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/Users/hyun/work/temp/jsTest/angularTest/css/main.css" type="text/css">

  </head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="bundle.js"></script>

  <body>
<div class = "wrap" ng-app="app" ng-controller="DateController">
    <div class = "date"  ng-model="DiaryDate">
      {{DiaryDate}}
    </div>

    <div class="icon">
      icon bar here
      <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
    </div>

    <div class= "content">

      <div class = "leftarrow">

        <a href=""><img src='http://www.clker.com/cliparts/P/F/4/j/V/q/transparent-arrow-left-th.png' /></a>


      </div>
      <div class="rightarrow">

        <a href=""><img src='http://www.clker.com/cliparts/L/X/7/n/H/j/transparent-arrow-th.png' /></a>

      </div>

      <div class = "journal" >
        <span ng-repeat="t in texts">{{t.text}} <br> </span> <br>
        <span ng-repeat="t in texts">{{t.datetime}} <br> </span> <br>
      </div>

    </div>


 </div>



  </body>
</html>
