div#block1 div.photo {
		display: none;
		min-height: 500px;
		background-image: url("https://dmalt.co/wp-content/uploads/2017/07/poster.jpg");
	}

	div#block2 { background-color: #337ab7; }

	div#block3 div.photo {
		background-image: url("https://dmalt.co/wp-content/uploads/2017/07/google-analytics-e1500530838791.jpg");
	}

	div#block4 div.photo {
		background-image: url("https://dmalt.co/wp-content/uploads/2017/07/random-generator-sidebar-google-sheets-e1500530887498.png");
	}

	div#block5 { background-color: #337ab7; }

	div#block6 { background-color: #0C5694; }

	div#block7 div.photo {
		background-image: url("https://dmalt.co/wp-content/uploads/2017/07/Geekswipe-Python-Twitter-bot-Source-Photo-by-Karthikeyan-KC.jpg");
	}

	/** styles **/
	header .header-wrapper {
		max-width: 1760px;
	}
	div.page_header_image div.hgroup-wrapper {
		max-width: 1680px;
	}
	div#block3:before,
	div#block4:before,
	div#block7:before {
		background-color: rgba(0, 0, 0, .1);
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}

	#container { padding: 0; }
    [class*="col-"] { padding: 0; }
    #container a {
        color: #FFF;
        transition: .125s color ease-in-out;
    }
    #container a:hover, #container a:focus {
        color: #FFF;
        cursor: pointer;
    }
    #block1 { margin-bottom: 5px; }
    #block1 video { margin-bottom: -5px; }
    #block1 .text-wrapper {
	    display: table;
	    width: 100%;
	    height: 100%;
	    padding: 20px;
	}
	#block1 .text-holder {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	#block1 .text {
		display: table;
		margin: 50px auto 0;
		font-size: 30px;
		font-weight: 700;
	}
	#block1 a {
		position: static;
	    display: table;
	    padding: 0;
	    margin: 25px auto 0;
	    padding: 10px;
	    border: 3px solid #fff;
	    font-size: 21px;
	    transition: all 0.25s;
	}
	#block1 a:hover {
		background-color: #fff;
    	color: #333;
    	text-decoration: none;
	}
    footer { margin-top: 5px; }
    @media ( max-width : 768px) {
	    #block1 div.photo {
			min-height: 300px
		}
    	 #block1 .text {
    	 	font-size: 21px;
    	 }
    	 #block1 a {
    	 	padding: 5px;
    		font-size: 16px;
    		margin-top: 10px;
    	 }
    }

    @media (max-width: 991px) {
		  #block1 {
		  	margin-bottom: 0;
		  }
    }

    .is-mobile #block1 .photo {
    	display: block;
    }
    .is-mobile #block1 video {
    	display: none;
	}

}
